spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/marjan
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: Abderrahmanehaouate@gmail.com
    password: ipsi hekl ecwr lqdv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true